* {
  outline: 0;
}
.Toastify__toast-body {
  font-family: "Quicksand-SemiBold", Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.Toastify__toast--info {
  background: #2b8aeb !important;
}
@font-face {
  font-family: "Quicksand-Light";
  src: url("./fonts/Quicksand/static/Quicksand-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand";
  src: url("./fonts/Quicksand/static/Quicksand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand-Medium";
  src: url("./fonts/Quicksand/static/Quicksand-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand-SemiBold";
  src: url("./fonts/Quicksand/static/Quicksand-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand-Bold";
  src: url("./fonts/Quicksand/static/Quicksand-Bold.ttf") format("truetype");
}
